*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
/* -------------------------------------------------------- */
header{
    width: 100%;
    height: 125px;
}
.khung-top{
    width: 100%;
    background-color: black;
    height: 30px;
}
.top{
    display: flex;
    justify-content: space-between;
}
.top ul{
    list-style: none;
}
.top li{
    display: inline-block;
}
.top a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    line-height: 30px;
    margin-right:20px ;
}
.dang-ky a{
    font-weight: 600;
}
.top a:hover{
    color: yellow;
}

.search-khung{
    width: 100%;
    height: 95px;
}
.search{
    position: relative;
}
.search .logo{
    width: 385px;
    position: absolute;
    top: 24px;
    left: 5px;
}
.search .tim-kiem{
    position: absolute;
    left: 410px;
    top: 24px;
}
.search input{
    width: 400px;
    padding: 10px;
    border-radius: 20px;
}
.search button{
    padding: 10px;
    border-radius: 10px;
}

.search .mua-hang{
    position: absolute;
    top: 15px;
    right: 190px;
    height: 62px;
}
.search .xay-dung{
    position: absolute;
    top:15px;
    height: 62px;
    right: 20px;
}
/* xong phần header */
/* ------------------------------------------------------------ */
nav{
    width: 100%;
    height: 46px;
    background-color: #E80104;
}

.title{
    line-height: 46px;
    color: white;
    font-size: 15px;
    box-shadow: 0 0 5px black;
    width: 200px;
    font-weight: bold;
    text-align: center;
    float: left;
}
.khung-nav .menu{
    height: 46px;
    margin-left: 30px;
    float: left;
}
.khung-nav>.menu a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    margin: 0px 25px;
    line-height: 46px;
}
.khung-nav>.menu a:hover{
    color: yellow;
}
.khung-nav>.menu img{
    height: 46px;
    float: right;
}
/* xong phần nav menu ngang */
/* ------------------------------------------------------------ */
.link-top{
    width: 100%;
    height: 40px;
}
.link-top ol{
    width: 100%;
    list-style: none;
}
.link-top li{
    display: inline;
    line-height: 40px;
    margin-right: 20px;
}
.link-top a{
    text-decoration: none;
    color: black;
}
.link-top a:hover{
    color: #007bff;
}
/* xong phần link top */
/* ------------------------------------------ */
form .chung{
    margin-bottom: 16px;
    display: flex;
}
form{
    margin: 15px 0px;
}
label{
    padding: 7px 10px;
    text-align: right;
    font-size: 14px;
    width: 25%;
    height: 35px;
    text-align: right;
}
input{
    width: 66.67%;
    padding: 6px 12px;
    height: 35px;
}
button{
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border-color: #007bff;
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
    padding: 0.37rem 0.75rem;
    border-radius: 0.25rem;
}



/* -------------------------------------------------------------- */
.khung-ho-tro{
    height: 82px;
    width: 100%;
    background-color: #f2f2f2;
    padding: 20px 0px;
    clear: both;
    margin-top: 15px;
}
.khung-ho-tro ul li{
    list-style: none;
    float: left;
    width: 25%;
}
.khung-ho-tro img{
    max-width: 100%;
    height: auto;
}
.khung-ho-tro li .img{
    width: 40px;
    float: left;
    margin-right: 8px;
}
.khung-ho-tro .ct1{
    font-size: 14px;
    font-weight: 700;
    color: #000;
}
/* xong phần hỗ trợ */
/* ----------------------------------------------------------- */
.thong-tin{
    width: 100%;
    height: 262px;
    padding: 20px 0px;
    clear: both;
}
.thong-tin .chung{
    width: 25%;
    float: left;
}
.thong-tin .name{
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 700;
}
.thong-tin ul{
    list-style: none;
}
.thong-tin li{
    margin-bottom: 10px;
}
.thong-tin a{
    text-decoration: none;
    color: black;
}
.gioi-thieu-chung .icon-fb-yt-ins{
    float: left;
    margin: 20px 20px;
}
.icon-fb-yt-ins img{
    width: 28px;
    margin-right: 10px;
}
.hinh-thuc-thanh-toan .icon-tt-tb{
    margin: 20px 10px;
}
.icon-tt-tb .tt{
    width: 210px;
    margin-bottom: 30px;
}
.icon-tt-tb .tb{
    width: 138px;
}
/* xong phần thông tin */
/* --------------------------------------------------------------- */
.Showroom{
    width: 100%;
    height: 350px;
    background-color: #f52031;
    padding: 20px 0px;
}
.co-so{
    width: 25%;
    float: left;
    height: 253px;
}
.co-so .ten-co-so{
    color: white;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}
.co-so ul{
    list-style: none;
}
.co-so li{
    font-size: 13px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.co-so a{
    font-size: 12px;
    color: white;
    text-decoration: none;
}
.co-so .dia-chi{
    font-size: 13px;
    font-weight: bolder;
}
.ban-quyen{
    clear: both;
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: white;
    line-height: 20px;
}
/* xong phần .Showroom */
/* ----------------------------------------------------------- */
footer{
    width: 100%;
    background-color: #000;
    color: white;
    font-size: 18px;
    text-align: center;
    height: 80px;
    line-height: 80px;
}